/* hero content css */
.hero{
    margin: 0% 8%;
    margin-top: 15%;
}

.hero-text{
    color: #FFF;
    font-size: 3.5rem;
    font-weight: 500;
    line-height: 5rem;
}

.hero-explore{
    display: flex;
    align-items: center;
    gap: 5rem;
    width: fit-content;
    margin-top: 5rem;
    padding: 5px 8px;
    padding-left: 1rem;
    border-radius: 60px;
    background-color: white;
    cursor: pointer;
}

.hero-p{
    color: #292929;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 0rem;
    text-decoration: none;
    
}

.hero-p:hover{color: #000099;}

.hero-dot-play{
    margin-top: 8rem;
    display: flex;
    justify-content: space-between;
}

.hero-dots{
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style: none;
}

.hero-dot{
    width: 15px;
    height: 15px;
    background: #FFF;
    border-radius: 7.5px;
    cursor: pointer;
}

.hero-dot.orange{
    background: #000099;
}

.hero-play{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.hero-play p{
    color: #FFF;
    font-size: 1.2rem;
    margin-bottom: 0rem;
}
