/* Scoped styles for Status component */
.status-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('../../assets/image1.jpg'); /* Ensure the correct path */
    background-size: cover;
    background-position: center;
}

.Sta-form {
    background-color: rgba(255, 255, 255, 0.8); /* Transparent white background */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 50px; /* Adjust as needed */
    width: 100%;
    max-width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-main {
    width: 100%;
    
}

.Sta-form .form-floating{
    margin-bottom: 1rem;
}

.Sta-form .form-floating label {
    color: #333;
}

.Sta-form .form-floating input{
    background-color: transparent;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
}

.Sta-form .form-floating input:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.Sta-form .form-floating .form-control-feedback {
    color: #d9534f;
}

.Sta-form button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #000099;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.Sta-form button:hover {
    background-color: #007bff;
}
