.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 7rem;
    color: white;
}

.nav-logo{
    font-family: Outfit;
    margin-top: -1rem;
    font-size: 2rem;
    font-weight: 400;
}

.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 1remx;
    gap: 7rem;
}

.nav-contact{
    text-decoration: none;
    border-radius: 50px;
    padding: 10px 38px;
    background: #fff;
    color: #262626;
}

.link-sty{
    text-decoration: none;
    color: #FFF; /* Match the color with the logo */
    font-family: Outfit; /* Match the font with the logo */
    font-size: 1rem; /* Match the font size with the menu items */
}

.nav-menu a:hover {
    color: #000099; /* Optional: Slightly darker color on hover */
}
